CoreModules/nCreditReport/Service References/CreditSafeSeGetData/getdata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="https://webservice.creditsafe.se/getdata/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="https://webservice.creditsafe.se/getdata/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://webservice.creditsafe.se/getdata/">
      <s:element name="GetDataBySecure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetData_Request" type="tns:GETDATA_REQUEST" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GETDATA_REQUEST">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
          <s:element minOccurs="0" maxOccurs="1" name="Block_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SearchNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FormattedOutput" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LODCustFreeText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Account">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Language" type="tns:LANGUAGE" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="LANGUAGE">
        <s:restriction base="s:string">
          <s:enumeration value="EN" />
          <s:enumeration value="SWE" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetDataBySecureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataBySecureResult" type="tns:GETDATA_RESPONSE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GETDATA_RESPONSE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SearchNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ERROR" />
          <s:element minOccurs="0" maxOccurs="1" name="Block_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parameters">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ERROR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cause_of_Reject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reject_text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Reject_comment" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataBySecureSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataBySecure" />
  </wsdl:message>
  <wsdl:message name="GetDataBySecureSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataBySecureResponse" />
  </wsdl:message>
  <wsdl:portType name="GetDataSoap">
    <wsdl:operation name="GetDataBySecure">
      <wsdl:input message="tns:GetDataBySecureSoapIn" />
      <wsdl:output message="tns:GetDataBySecureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetDataSoap" type="tns:GetDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataBySecure">
      <soap:operation soapAction="https://webservice.creditsafe.se/getdata/GetDataBySecure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetDataSoap12" type="tns:GetDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataBySecure">
      <soap12:operation soapAction="https://webservice.creditsafe.se/getdata/GetDataBySecure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetData">
    <wsdl:port name="GetDataSoap" binding="tns:GetDataSoap">
      <soap:address location="http://testwebservice.creditsafe.se/GetData/getdata.asmx" />
    </wsdl:port>
    <wsdl:port name="GetDataSoap12" binding="tns:GetDataSoap12">
      <soap12:address location="http://testwebservice.creditsafe.se/GetData/getdata.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>