CoreModules/Core/NTech.Core.Credit.Shared/Integrations/CreditRegistry/sharkV2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--XSD schema for data deliveries to UC "SHARK". Send delta changes as they happen in real time or collect them and send them ones or several times a day. We recommend that you send all the changes as they happen several times per day. Only Swedish personal numbers or coordination numbers can be added to the credit register at this moment. Persons who share credit contracts should have the entire amount registred on each person. Questions regarding the content in this file can be addressed to kreditregistret@uc.se.-->
<xs:schema xmlns:cr="http://www.uc.se/integration/schema/external/sharkV2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.uc.se/integration/schema/external/sharkV2" elementFormDefault="qualified" attributeFormDefault="qualified" version="2">
	<xs:element name="CreditRegister">
		<xs:annotation>
			<xs:documentation>Root Element, groups all other elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="DeliveryInfo">
						<xs:annotation>
							<xs:documentation>Groups the credits and contacts for the delivery, may contain deliveries from several creditors but only from one System or a part of one.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ContactInfo" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Groups contact information.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="contact" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Contact information, can either add contact information for a function or person with insight about the information in the creditors data.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="cr:String_ST">
															<xs:attribute name="creditorID" type="cr:UCCustomer_ST" use="required">
																<xs:annotation>
																	<xs:documentation>The credit providers UC customer number. Five characters (alpha numeric field). Exemptions may be granted, for when a four-digit sort code is used. creditorID is mandatory.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="update" type="cr:Update_ST" use="required">
																<xs:annotation>
																	<xs:documentation>Is the contact "New", or does it contain changed information "update", or should we remove the contact "delete".</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="type" type="cr:ContactType_ST">
																<xs:annotation>
																	<xs:documentation>Describe the type of contact it is, a "person" or a "function".</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="email" type="cr:EMail_ST">
																<xs:annotation>
																	<xs:documentation>E-mail address, may be used to send notifications and error messages. </xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="mobile" type="cr:PhoneNumber_ST">
																<xs:annotation>
																	<xs:documentation>Mobile number, no dashes or spaces. Plus (+) is allowed. May be used to send notifications and error messages. </xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="phone" type="cr:PhoneNumber_ST">
																<xs:annotation>
																	<xs:documentation>A phone number, no dashes or spaces. Plus (+) is allowed. </xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="role">
																<xs:annotation>
																	<xs:documentation>The role a specific contact has, might be used to direct notifications in the future.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="cr:Role_ST">
																		<xs:pattern value=".*\S.*"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="CreditContracts" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Group that contains the contracts/credits/accounts or what you may call the credit accounts within your organization.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Contract" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Groups the specifics for a credit contract.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="accountNum" nillable="false">
															<xs:annotation>
																<xs:documentation>Account number for the credit contract, you can add a reference number as an attribute for mixed credits and loans that share the same account number, may also be used to distinguish between different products. When an account number are changed one must set the obsolete account number in the ”priorAccountNum” attribute in the AuxInfo element. Credit information of a person will get corrupt otherwise.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="cr:AccountNum_ST">
																		<xs:attribute name="refNum" use="optional">
																			<xs:simpleType>
																				<xs:restriction base="cr:ReferenceAccountNum_ST">
																					<xs:pattern value=".*\S.*"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="creditType" type="cr:CreditType_ST" use="required"/>
																		<xs:attribute name="productName" use="optional">
																			<xs:simpleType>
																				<xs:restriction base="cr:String_ST">
																					<xs:pattern value=".*\S.*"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
														<xs:element name="objectID">
															<xs:annotation>
																<xs:documentation>ObjectID can contain either a Swedish personal identifying number including century (12 digits) or a corporate identifying number (10 digits), can also contain a coordination number provided by the Swedish tax authority (12 digits). No dash or letters are allowed, only digits. CorporateIDNum should only be used to report Credit Abuse for now.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:simpleContent>
																	<xs:extension base="cr:ObjectID_ST">
																		<xs:attribute name="idType" use="required">
																			<xs:annotation>
																				<xs:documentation>The type of the ID number that been used, PersonalIDNum, CorporateIDNum or CoordinationIDNum. CoordinationID numbers will only be stored, you will not be able to order reports on this type. CorporateIDNum should only be used to report Credit Abuse for now.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="cr:IDType_ST"/>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="coApplicant" type="xs:boolean" use="required">
																			<xs:annotation>
																				<xs:appinfo>
																	</xs:appinfo>
																				<xs:documentation>False if the person is the main applicant, true if the person is a co-applicant. </xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="country" type="cr:CountryCode_ST" use="required">
																			<xs:annotation>
																				<xs:documentation>Country code, will until further notice always be "SE".</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:extension>
																</xs:simpleContent>
															</xs:complexType>
														</xs:element>
														<xs:element name="Balance">
															<xs:annotation>
																<xs:documentation>Group that contains the current accounts balance and limit. Add date and time stamp for when the balance was retrieved.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attribute name="timeStamp" type="cr:DateTime_ST" use="required">
																	<xs:annotation>
																		<xs:documentation>Date and time stamp for when the balance of an account where as described in amount and limit.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="currency" type="cr:Currency_ST" use="required">
																	<xs:annotation>
																		<xs:documentation>Will until further notice always be "SEK".</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="limit" type="cr:Amount_ST" use="required">
																	<xs:annotation>
																		<xs:documentation>The limit on a revolving credit are placed here. See the credit types for more information. </xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="amount" type="cr:Amount_ST" use="required">
																	<xs:annotation>
																		<xs:documentation>The current sum of debt, without any additional fees or interest costs.</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="AuxInfo" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Auxiliary information, it's not obligatory unless the accountNum or creditType has been changed. We strongly recommends atleast using dpd90 (90 days past due) attribut if not daysLate.</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attribute name="originalCreditAmount" use="optional">
																	<xs:simpleType>
																		<xs:restriction base="cr:Amount_ST"/>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="daysLate" use="optional">
																	<xs:annotation>
																		<xs:documentation>The number of days from due date of the oldest active invoice that has not yet been registered as paid.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="cr:Days_ST"/>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="dpd90" use="optional">
																	<xs:annotation>
																		<xs:documentation>90 days past due.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:boolean"/>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="behaviourCode" use="optional">
																	<xs:annotation>
																		<xs:documentation>A code 0-9. Added to maintain backward compatibility against the monthly updated registry. We recommend that you use daysLate instead.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:int"/>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="wellManaged" use="optional">
																	<xs:annotation>
																		<xs:documentation>Number of month the account been well-managed. Added to maintain backward compatibility against the monthly updated registry. We recommend that you use daysLate instead.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:int"/>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="maturity" use="optional">
																	<xs:annotation>
																		<xs:documentation>Terms until payed in number of years.</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="cr:Term_ST"/>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="priorCreditType" type="cr:CreditType_ST" use="optional"/>
																<xs:attribute name="priorRefNum" use="optional">
																	<xs:simpleType>
																		<xs:restriction base="cr:ReferenceAccountNum_ST">
																			<xs:pattern value=".*\S.*"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="priorAccountNum" use="optional">
																	<xs:simpleType>
																		<xs:restriction base="cr:AccountNum_ST">
																			<xs:pattern value=".*\S.*"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute name="startDate" type="cr:Date_ST" use="required">
														<xs:annotation>
															<xs:documentation>The start date of the contract. Should be the date that the credit where paid out or made available to the liable parties.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="endDate" type="cr:Date_ST">
														<xs:annotation>
															<xs:documentation>Closing date, a closed account must be declared by the creditor with an end date. UC will no longer automatically close accounts.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="remark" type="cr:Remark_ST" use="optional">
														<xs:annotation>
															<xs:documentation>The contract was terminated because of credit abuse. Add type of remark here. MI, ML or MK</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="groupID" type="cr:UCCustomer_ST" use="optional"/>
										<xs:attribute ref="cr:creditorID" use="required"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute ref="cr:creditorID" use="required"/>
							<xs:attribute ref="cr:sourceSystemID" use="required"/>
							<xs:attribute ref="cr:deliveryUniqueID" use="required"/>
							<xs:attribute ref="cr:deliveryTimeStamp" use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="NoDeliveryToday">
						<xs:annotation>
							<xs:documentation>Use this element to inform UC that you have no credit information to update today. </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:attribute ref="cr:creditorID" use="required"/>
							<xs:attribute ref="cr:sourceSystemID" use="required"/>
							<xs:attribute ref="cr:deliveryUniqueID" use="required"/>
							<xs:attribute ref="cr:deliveryTimeStamp" use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="AccountNum_ST">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value=".*\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount_ST">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Contact_ST">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ContactType_ST">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Function"/>
			<xs:enumeration value="Person"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode_ST">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:enumeration value="SE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditType_ST">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="301"/>
			<xs:enumeration value="302"/>
			<xs:enumeration value="303"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_ST">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:enumeration value="SEK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date_ST">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="DateTime_ST">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Days_ST">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1095"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Term_ST">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99.9999"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EMail_ST">
		<xs:restriction base="xs:string">
			<xs:pattern value="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDType_ST">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PersonalIDNum"/>
			<xs:enumeration value="CorporateIDNum"/>
			<xs:enumeration value="CoordinationIDNum"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ObjectID_ST">
		<xs:restriction base="xs:string">
			<xs:pattern value="(19|20){1}[0-9]{2}((01|03|05|07|08|10|12){1}(((0{1}[1-9]{1})|(1{1}[0-9]{1})|(2{1}[0-9]{1})|(3{1}[0-1]{1}))|((6{1}[1-9]{1})|(7{1}[0-9]{1})|(8{1}[0-9]{1})|(9{1}[0-1]{1})))|((04|06|09|11){1}(((0{1}[1-9]{1})|(1{1}[0-9]{1})|(2{1}[0-9]{1})|(30{1}))|((6{1}[1-9]{1})|(7{1}[0-9]{1})|(8{1}[0-9]{1})|(90{1}))))|((02){1}(((0{1}[1-9]{1})|(1{1}[0-9]{1})|(2{1}[0-9]{1}))|((6{1}[1-9]{1})|(7{1}[0-9]{1})|(8{1}[0-9]{1})))))[0-9]{4}"/>
			<xs:pattern value="([0-9]{10})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhoneNumber_ST">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="[+]?[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferenceAccountNum_ST">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value=".*\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Remark_ST">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MI"/>
			<xs:enumeration value="ML"/>
			<xs:enumeration value="MK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Role_ST">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="String_ST">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value=".*\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UCCustomer_ST">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:minLength value="4"/>
			<xs:pattern value="([A-Z|0-9]{4}[0-9]{1})|([0-9]{4})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Update_ST">
		<xs:restriction base="xs:string">
			<xs:enumeration value="new"/>
			<xs:enumeration value="update"/>
			<xs:enumeration value="delete"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attribute name="creditorID" type="cr:UCCustomer_ST"/>
	<xs:attribute name="deliveryTimeStamp" type="cr:DateTime_ST"/>
	<xs:attribute name="deliveryUniqueID">
		<xs:simpleType>
			<xs:restriction base="cr:String_ST">
				<xs:whiteSpace value="preserve"/>
				<xs:pattern value=".*\S.*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="sourceSystemID">
		<xs:simpleType>
			<xs:restriction base="cr:String_ST">
				<xs:whiteSpace value="preserve"/>
				<xs:pattern value=".*\S.*"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
</xs:schema>
